{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/accueil.css" />
    <link rel="stylesheet" href="/static/style/header.css" />
    <title>Acceuil</title>
</head>
{{template "header.html" .}}
<body>
<h1 style="
    padding-top: 50px;
    padding-left: 30px;
">LES</h1>
<h1 style="
    padding-left: 30px;
">PRODUITS</h1>
<ul>
    {{range .Articles}}
    <li>
        <h2>{{.Nom}}</h2>
        <img src="{{.Image.URL}}" alt="Image de {{.Nom}}">
        <p>Prix: {{.Prix}}</p>
        <p>Réduction: {{if .Reduc}}{{.Reduc}}{{else}}Pas de réduction{{end}}</p>
        <p>Description: {{if .Description}}{{.Description}}{{else}}Pas de description{{end}}</p>
        <p>Taille disponible: {{.Taille}}</p>
    </li>
    {{end}}
</ul>
</body>
</html>
{{end}}