.vignette{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 90px;
    text-decoration: none;
}

.photo{
    border-radius: 10px;
}

.corps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    color: white;
}

ul {
    display: grid;                  
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 20px;                 
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
